<header></header>
<main>
  <div class="wrapper clear">
    <div class="sidebar">
      <aside class="filters">
        <div class="filter-item">
          <h3>city</h3>
          <select name="city" id="city" [(ngModel)]="selected" (ngModelChange)="selectCity(selected)">
            <option *ngFor="let city of City; let i = index" [value]="city.id">{{city.name}}</option>
          </select>
        </div>
        <div class="filter-item">
          <h3>categories</h3>
          <ul>
            <li *ngFor="let category of Category">
              <label>
                <input type="checkbox" [value]="category.id" (change)="selectedCategory()">
                {{category.name}}
              </label>
            </li>
          </ul>
        </div>
        <div class="filter-item">
          <h3>price</h3>
        </div>
      </aside>
    </div>
    <div class="content">
      <ul class="product-list">
        <li class="product-item" *ngFor="let data of selectedData">
          <a href="#" class="product-item__anchor">
            <div class="product-item__top">
              <img class="product-item__image" src="../assets/images/product-item.jpg" alt="Product image">
              <div class="product-item__city">{{data.city}}</div>
            </div>
            <div class="product-item__bottom clear">
              <div class="product-item__name">{{data.name}}</div>
              <div class="product-item__category">{{data.category}}</div>
              <div class="product-item__price">${{data.price}}</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
<footer></footer>
